<html>
<head>
    <link rel="stylesheet" href="navbar.css">
	<link rel="stylesheet" href="viewreview.css">
</head>

<body>

    <div id="navbar">
        <a class="mainpage" href="/">Profdex</a>
        <span class="navbar-buttons">
            <a class="menu" href="/editprofile">About Me</a>
			<a class="menu" href="/createpost">Create Review</a>
			<a class="menu" href="/help">Help</a>
        </span>
        <span class="search-buttons">
			{{#if loggedInUser}}
				<a class="login-button" href="/logout">Logout</a>
			{{else}}
				<a class="login-button" href="/login">Login</a>
			{{/if}}
            <form action="/viewprof" method="post">
				<input type="text" class="search" id="search" name="search" placeholder="Professor Full Name">
				<button type="submit" id="searchbutton"></button>
			</form>
        </span>
    </div>
	
		<div id="filter">
			{{#with professorData}}
				<a id="professorname" href="/viewprof?id={{_id}}" style="position: absolute; margin-top: 10px; margin-left: 100px;">{{aProfessor.title}} {{aProfessor.lastname}}</a>
			{{/with}}
			{{#with postData}}
				<a class="filter" style="margin-top: 37px; margin-left: 100px;">{{course}}</a>
			{{/with}}
		</div>

	{{#with postData}}
		<div class="review-container">
			<div class="actual-review-container">
				<div id="review">
					<div class="review-header">
						<a class="review-author" href="/viewuser?id={{op}}">By: {{opname}}</a>
					</div>
					<img id="generosity" src="images/transparent.png" width="1" height="1" style="margin-left: 20px; margin-top: 225px;">
					<div class="bar" 
						 style="
							 margin-top: 200px;
							 margin-left: 22px;
							 width: 25px;
							 transform-origin: bottom;
                             transform: scaleY({{generosity}});
							 background-color: green">&nbsp
					</div>
					<img id="workload" src="images/transparent.png" width="1" height="1" style="margin-left: 68px; margin-top: 225px;">
					<div class="bar" 
						 style="
							 margin-top: 200px;
							 margin-left: 71px;
							 width: 25px;
							 transform-origin: bottom;
                             transform: scaleY({{workload}});
							 background-color: green">&nbsp
					</div>
					<img id="proficiency" src="images/transparent.png" width="1" height="1" style="margin-left: 115px; margin-top: 225px;">
					<div class="bar" 
						 style="
							 margin-top: 200px;
							 margin-left: 119px;
							 width: 25px;
							 transform-origin: bottom;
                             transform: scaleY({{proficiency}});
							 background-color: green">&nbsp
					</div>
					<img id="difficulty" src="images/transparent.png" width="1" height="1" style="margin-left: 160px; margin-top: 225px;">
					<div class="bar" 
						 style="
							 margin-top: 200px;
							 margin-left: 168px;
							 width: 25px;
							 transform-origin: bottom;
                             transform: scaleY({{difficulty}});
							 background-color: green">&nbsp
					</div>
					<img id="engagement" src="images/transparent.png" width="1" height="1" style="margin-left: 210px; margin-top: 225px;">
					<div class="bar" 
						 style="
							 margin-top: 200px;
							 margin-left: 214px;
							 width: 25px;
							 transform-origin: bottom;
                             transform: scaleY({{engagement}});
							 background-color: green">&nbsp
					</div>
				</div>
		</div>
		
		<div id="text">
			<a class="text">{{aPost.text}}</a>
		</div>
	
		<form action="/reply" method="post">
			<textarea id="comment" name="commentText" placeholder="Comment here!" required></textarea>
			<input type="hidden" name="post" value="{{_id}}">
			<input type="hidden" name="to" value="{{op}}">
			<input type="hidden" name="toname" value="{{opname}}">
			<button id="submit" type="submit" class="submit">Send</button>
		</form>
		
		<a class="comment" href="/viewcomments?id={{_id}}">View Comments</a>
	{{/with}}

</body>
</html>